.third_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1070px;
    position: relative;
    clip: rect(0, auto, auto, 0);
    width: 100%;
    color: white;
    @media screen and (max-width: 768px) {
      height: 870px;
    }
    @media screen and (max-width: 480px) {
      height: 700px;
    }

    .bg_wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .background {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateZ(0);
        background-size: cover !important;
        will-change: transform;
        @media screen and (max-width: 480px) {
          position: absolute;
        }
      }
    }

    .filter {
      background-image:
        linear-gradient(to bottom, rgba(51,51,51,0.9), rgba(51,51,51,0.4));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__board {
      display: flex;
      align-items: center;
      flex-direction: column;
      opacity: 0.8;
      background-color: #ffffff;
      color: #333333;
      line-height: 1.55;
      width: 680px;
      height: 875px;
      border-radius: 30px;
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
      @media screen and (max-width: 900px) {
        width: 80%;
        height: 800px;
      }
      @media screen and (max-width: 768px) {
        width: 70%;
        height: 710px;
      }
      @media screen and (max-width: 640px) {
        width: 80%;
        height: 680px;
      }
      @media screen and (max-width: 480px) {
        width: 90%;
        height: 600px;
      }
  
      h1 {
        padding-bottom: 36px;
        font-size: 36px;
        font-family: 'Noto Serif';
        font-weight: 600;
        white-space: nowrap;
        @media screen and (max-width: 900px) {
          font-size: 32px;
          padding-bottom: 20px;
        }
        @media screen and (max-width: 768px) {
          font-size: 30px;
          padding-bottom: 16px;

        }
        @media screen and (max-width: 480px) {
          font-size: 24px;
          padding-bottom: 12px;
        }
      }
      div {
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        padding-top: 36px;
        padding-bottom: 16px;
        border-bottom: 1px solid gray;
        &:first-of-type {
          border-bottom: none
        }
        @media screen and (max-width: 900px) {
          width: 92%;
        }
        @media screen and (max-width: 768px) {
          padding-top: 30px;
        }
        @media screen and (max-width: 480px) {
          padding-top: 24px;
        }

        &:last-of-type {
          width: 270px;
          border-bottom: none;
          padding: 0;
          height: 52px;
          margin-top: 52px;
          @media screen and (max-width: 768px) {
            width: 250px;
            height: 42px;
          }
          a {
            width: 100%;
            height: 100%;
            span {
              color: #ffffff;
              font-size: 16px;
              font-family: 'Open Sans';
              line-height: 1.55;
              font-weight: 600;
            }
          }
        }

        img {
          width: 110px;
          height: 70px;
          @media screen and (max-width: 1200px) {
            transform: none !important;
          }
          @media screen and (max-width: 768px) {
            width: 70px;
            height: 45px;
          }
          @media screen and (max-width: 375px) {
            width: 40px;
            height: 25px;
          }
        }
  
        span {
          font-family: 'Open Sans';
          &:first-of-type {
            font-size: 28px;
            font-weight: 600;
            @media screen and (max-width: 768px) {
              font-size: 20px;
            }
            @media screen and (max-width: 480px) {
              font-size: 16px;
            }
          }
          &:last-of-type {
            font-size: 22px;
            font-weight: 700;
            @media screen and (max-width: 768px) {
              font-size: 18px;
            }
          }
        }
      }
    }
    .minsk_wrapper {
      width: 500px;
      position: relative;
      @media screen and (max-width: 768px) {
        width: 400px;
      }
      @media screen and (max-width: 480px) {
        width: 300px;
      }
      img {
        border-radius: 16px;
        opacity: .7;
      }
    }
  }