.image_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1366px;
  height: 500px;
  margin: 0 auto;
  @media screen and (max-width: 1366px) {
    width: 96%;
  }
  @media screen and (max-width: 768px) {
    height: 400px;
  }
  @media screen and (max-width: 480px) {
    height: 300px;
    width: 92%;
  }

  .slide_wrap {
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
  }
}