.map_container {
  width: 560px;
  height: 400px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  .map_wrapper {
    width: 100%;
    height: 100%;
    > ymaps {
      height: 100% !important;
      > ymaps {
        height: 100% !important;
      }
    }
  }
  a {
    display: inline-block;
    font: 11px/14px Verdana,Arial,sans-serif;
  }
  @media screen and (max-width: 690px) {
    display: flex;
    justify-content: center;
    width: 90%
  }
}