@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,cyrillic);

.info {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans';
  padding: 90px 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 45px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 85px;
    border-right: 2px solid #333333;
    &:last-of-type {
      border-right: none
    }
    @media screen and (max-width: 1200px) {
      padding: 0 65px;
    }
    @media screen and (max-width: 960px) {
      padding: 0 45px;
    }

    @media screen and (max-width: 768px) {
      border-right: none;
      border-bottom: 2px solid #333333;
      padding: 45px 0;
      width: 70%;

      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    img {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }
    span {
      font-size: 18px;
      line-height: 1.55;
      color: #333333;
      font-weight: bold;
      @media screen and (max-width: 620px) {
        font-size: 16px;
      }
    }
  }
}