.stock {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Open Sans';
  padding: 90px 0;
  color: #333;

  @media screen and (max-width: 460px) {
    padding: 45px 20px;
  }
  h1 {
    font-size: 42px;
    line-height: 1.23;
    font-family: 'Noto Serif',serif;
    font-weight: 600;
    @media screen and (max-width: 640px) {
      font-size: 32px;
    }
    @media screen and (max-width: 480px) {
      font-size: 28px;
    }
  }
  span {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    font-family: 'Open Sans';
    text-align: center;
    white-space: pre-wrap;
    @media screen and (max-width: 960px) {
      font-size: 20px;
    }
    @media screen and (max-width: 640px) {
      font-size: 18px;
    }
  }

  div {
    width: 280px;
    height: 60px;
    margin-top: 60px;

    @media screen and (max-width: 640px) {
      width: 250px;
      height: 50px;
      margin-top: 30px;
    }

      span {
        font-size: 17px;
        line-height: 1.55;
        font-weight: 600;
      }
  }
}