.follow {
  display: flex;
  width: 200px;
  height: 53px;
  box-sizing: border-box;
  transition: .3s;
  border-radius: 4px;
  &:hover {
    transition: .3s;
    a {
      transition: .3s;
    }
  }
}

.header {
  background-color: #f00c1a;
  height: 43px;
  a {
    color: white;
  }
  &:hover {
    background-color: #333333;
  }
}

.first {
  background-color: transparent;
  border: 3px solid white;
  margin-top: 24px;

  a {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 600;
    border-width: 3px;
    text-transform: uppercase
  }
  &:hover {
    border: 3px solid #f00c1a;
    background-color: #f00c1a;
  }
}