.first_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 550px;
    height: 70vh;
    background-color: black;
    text-align: center;
    position: relative;

    .bg_wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .background {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateZ(0);
        background-size: cover !important;
        will-change: transform;
        @media screen and (max-width: 480px) {
          position: absolute;
        }
      }
    }

    .overlay{
      width: 100%;
      height: 100%;
      background-repeat: repeat;
      position: absolute;
    }

    .filter {
      background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(87,36,36,0.4)), to(rgba(87,36,36,0.4)) );
      background-image: -webkit-linear-gradient(top, rgba(87,36,36,0.4), rgba(87,36,36,0.4));
      background-image: linear-gradient(to bottom, rgba(87,36,36,0.4), rgba(87,36,36,0.4));
      position: absolute;
      width: 100%;
      min-height: 550px;
      height: 70vh;
    }
  
    .title {
      color: white;
      font-size: 52px;
      font-family: 'Noto Serif';
      line-height: 1.15;
      font-weight: 700;
      margin-top: 0;
      z-index: 1;
      @media screen and (max-width: 1200px) {
        font-size: 45px;
        width: 90%;
      }
      @media screen and (max-width: 640px) {
        font-size: 32px;
      }
      @media screen and (max-width: 480px) {
        font-size: 28px;
      }
    }
    .output {
      display: flex;
      justify-content: center;
      white-space: pre-wrap;
      text-align: center;
      margin-bottom: 24px;
      z-index: 1;
      height: 80px;
      @media screen and (max-width: 400px) {
        white-space: normal;
      }
      span {
        color: white;
        font-size: 28px;
        font-family: 'Open Sans';
        line-height: 1.25;
        font-weight: 600;
        height: 40px;
        @media screen and (max-width: 1200px) {
          font-size: 22px;
          line-height: 1.55;
          font-weight: bold;
        }
        @media screen and (max-width: 640px) {
          font-size: 18px;
        }
        @media screen and (max-width: 480px) {
          font-size: 16px;
        }
      }
    }
    span[data-typeit-id]::after {
      content: '';
      display: inline-block;
      margin-top: 7px;
      margin-left: 7px;
      animation: blink 0.7s infinite;
      background-color: white;
      font-size: 28px;
      font-family: 'Open Sans';
      line-height: 1.25;
      height:24px;
      width:3px;
      @media screen and (max-width: 640px) {
        height: 18px;
      }
      @media screen and (max-width: 480px) {
        height: 16px;
      }
    }
  }

  div[data-name="follow-button"]  {
    z-index: 1;
  }

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}