.masters_block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: pre-wrap;
  font-size: 28px;
  font-family: 'Noto Serif',serif;
  font-weight: 600;
  background-color: #333333;
  line-height: 1.35;
  text-align: center;
  height: 908px;
  color: #ffffff;
  position: relative;

  @media screen and (max-width: 1200px) {
    height: 1422px;
  }
  @media screen and (max-width: 690px) {
    height: 2122px;
  }

  .bg_wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 480px) {
      background-attachment: inherit;
    }

    .background {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      background-size: cover !important;
      will-change: transform;
      @media screen and (max-width: 480px) {
        position: absolute;
      }
    }
  }

  .filter {
    background-image:
      linear-gradient(to bottom, rgba(51,51,51,0.9), rgba(51,51,51,0.4));
    position: absolute;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-size: 42px;
    font-family: 'MediatorSerif';
    line-height: 1.1;
    font-weight: 700;
    padding-bottom: 30px;
    z-index: 1;
    @media screen and (max-width: 1200px) {
      font-size: 38px;
    }
    @media screen and (max-width: 640px) {
      font-size: 30px;
    }
    @media screen and (max-width: 480px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  span {
    font-size: 22px;
    font-family: 'Open Sans';
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 80px;
    z-index: 1;
    @media screen and (max-width: 1200px) {
      font-size: 22px;
      line-height: 1.4;
    }
    @media screen and (max-width: 690px) {
      font-size: 20px;
      padding-bottom: 40px;
      padding-left: 16px;
      padding-right: 16px;
    }
    @media screen and (max-width: 480px) {
      font-size: 16px;
      padding-bottom: 20px;
      white-space: normal;
    }
  }

  .master_wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @media screen and (max-width: 690px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .master_element {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 280px;
      height: 355px;
      margin-right: 16px;
      background-color: gray;
      position: relative;
      transition: .3s;
      border-radius: 8px;

      > div:first-of-type {
        border-radius: 8px;
      }

      > a {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        transition: .3s;
        box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
        transform: translateY(-10px);
      }
      @media screen and (max-width: 1200px) {
        width: 300px;
        height: 430px;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        &:nth-child(2) {
          margin-right: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 690px) {
        width: 280px;
        height: 375px;
        margin-top: 20px;
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 690px) {
        margin-left: 0;
        margin-right: 0;
      }

      &__name {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: rgba(99, 101, 102, 0.7);
        padding: 8px 0;
        position: absolute;
        bottom: 55px;
        left: 0;
        width: 100%;
        @media screen and (max-width: 1200px) {
          bottom: 45px;
        }
        span {
          padding-bottom: 0;
          font-family: 'Arial';
          opacity: 1;
          &:first-of-type {
            font-size: 20px;
            line-height: 1.55;
            font-weight: 700;
          }
          &:last-of-type {
            font-size: 12px;
            line-height: 1.6;
            font-weight: 400;
          }
        }
      }

      a {
        color: #ffffff;
        font-size: 16px;
        font-family: 'Open Sans';
        line-height: 1.55;
        font-weight: 600;
        border-width: 1px;
        background-color: #f00c1a;
        height: 55px;
        transition: .3s;
        position: absolute;
        bottom: 0;
        left: 0;
        @media screen and (max-width: 1200px) {
          height: 45px;
        }

        &:hover {
          background-color: #333333;
          transition: .3s;
        }
      }
    }
  }
}