@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,cyrillic);

.contact {
  &__container {
    display: flex;
    align-items: center;
    padding: 90px 0;
    justify-content: space-evenly;
    height: 580px;
    width: 1366px;
    margin: 0 auto;
    @media screen and (max-width: 1366px) {
      width: 100%;
    }
    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
    @media screen and (max-width: 640px) {
      height: 640px;
    }
    @media screen and (max-width: 480px) {
      padding: 45px 0;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    color: #333333;
    @media screen and (max-width: 1200px) {
      margin-top: 36px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      padding-bottom: 28px;
      @media screen and (max-width: 768px) {
        padding-left: 100px;
      }
      @media screen and (max-width: 480px) {
        padding-left: 16px;
      }
    }

    &__title {
      font-size: 38px;
      font-weight: 600;
      @media screen and (max-width: 640px) {
        font-size: 30px;
      }
    }
    &__phone {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-family: 'Open Sans';
      font-weight: 600;
      white-space: nowrap;
      a {
        display: inline-block;
        font-size: 24px;
        font-family: 'Open Sans';
        font-weight: 600;
        padding-left: 8px;
        color: #333333;

        transition: .3s;

        &:hover {
          color: #f00c1a;
          transition: .3s;
        }
        @media screen and (max-width: 1200px) {
          font-size: 22px;
        }
        @media screen and (max-width: 640px) {
          font-size: 20px;
          line-height: 1.4;
        }
      }
      @media screen and (max-width: 1200px) {
        font-size: 22px;
      }
      @media screen and (max-width: 640px) {
        font-size: 20px;
        line-height: 1.4;
      }

    }
    &__common {
      font-family: 'Open Sans',Arial,sans-serif;
      font-size: 18px;
      font-weight: 600;
      @media screen and (max-width: 620px) {
        font-size: 16px;
      }
    }
  }
}
