:root {
  --site-max-width: 1366px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 1.55;
  font-weight: 600;
  color: #333333;
  border-bottom-color: #333333;
  transition: .3s;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--site-max-width);
  margin: 0 auto;

  @media screen and (max-width: 1366px) {
    width: 100%;
  }
  @media screen and (max-width: 960px) {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  @media screen and (max-width: 480px) {
  }


  &__logo {
    width: 140px;
    height: 120px;
    margin-left: 100px;
    @media screen and (max-width: 1200px) { 
      margin-left: 16px;
    }
    @media screen and (max-width: 960px) {
      flex-direction: column;
      margin-left: 0;
    }
  }

  &__menu {
    display: flex;
    @media screen and (max-width: 960px) {
      margin-bottom: 16px;
    }
    .menu_link {
      margin-right: 16px;
      background-image: linear-gradient(currentColor, #f00c1a);
      background-position: 50% 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      transition: background-size .3s;
      transition: .3s;
      cursor: pointer;
      @media screen and (max-width: 960px) {
        margin-right: 24px;
        &:last-of-type {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
      &:hover {
        transition: .3s;
        background-size: 100% 1px;
        color: #f00c1a;
      }
    }
  }

  div[data-name="follow-button"]  {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__phone {
    display: flex;
    width: 200px;
    height: 43px;
    border: 2px solid #333333;
    box-sizing: border-box;
    transition: .3s;
    border-radius: 4px;
    margin-right: 16px;
    @media screen and (max-width: 960px) {
      margin-right: 0;
    }
    &:hover {
      border: 2px solid #f00c1a;
      transition: .3s;
      a {
        color: #f00c1a;
        transition: .3s;
      }
    }
  }

  &__links {
    display: flex;
    .link {
      color: #333333;
      margin-right: 16px;
      @media screen and (max-width: 960px) {
        margin-top: 16px;
      }
      @media screen and (max-width: 480px) {
        margin-top: 8px;
        margin-right: 8px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      cursor: pointer;
      a {
        font-size: 20px;
        line-height: 1.55;
        font-weight: 600;
        @media screen and (max-width: 480px) {
          font-size: 17px;
        }
      }
      &:hover {
        a {
          color: red;
        }
      }
    }
    
    .active {
      a {
        color: red;
      }
    }
  }
}
