:root {
  --site-max-width: 1366px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--site-max-width);
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: 13660px) {
    width: 100%;
  }
  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: flex-start;
  }
  > div {
    @media screen and (max-width: 768px) {
      padding-left: 100px;
    }
    @media screen and (max-width: 480px) {
      padding-left: 16px;
    }
  }

  &__extra {
    display: none;
    @media screen and (max-width: 960px) {
      display: flex;
    }
    .hiden_block {
      font-size: 12px;
      font-family: 'Open Sans';
      font-weight: 400;
      color: #ffffff;
      line-height: 20px;
    }
  }

  .titles {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    padding-bottom: 8px;
  }

  &__contact_wrapper {
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 100px;
      @media screen and (max-width: 480px) {
        align-items: flex-start;
        margin-bottom: 20px;
        margin-right: 0;
      }
      &:last-of-type {
        margin-right: 0;
        @media screen and (max-width: 960px) {
          margin-right: 0;
        }
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 960px) {
      margin-left: 0;
    }
    .menu_link {
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 400;
      color: #ffffff;
      line-height: 20px;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
      @media screen and (max-width: 960px) {
        display: none;
      }
    }
    img {
      width: 120px;
    }
  }

  &__sociable {
    display: flex;
    padding-top: 8px;
    .sociable_item {
      display: flex;
      padding-left: 16px;
      height: 100%;
      user-select: none;
      &:first-child {
        padding-left: 0;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    .menu_link {
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 400;
      color: #ffffff;
      border-bottom-color: #ffffff;
      cursor: pointer;

      background-image: linear-gradient(currentColor, #d8d6d6);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      transition: background-size .3s;
      &:hover {
        background-size: 100% 1px;
        color: #d8d6d6;
      }
    }
  }
}

