.second_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 670px;
  text-align: center;
  position: relative;

  @media screen and (max-width: 480px) {
    height: 570px;
  }
  .bg_wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .background {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      background-size: cover !important;
      will-change: transform;
      @media screen and (max-width: 480px) {
        position: absolute;
      }
    }
  }

  .filter {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(51,51,51,0.9)), to(rgba(51,51,51,0.4)) );
    background-image: -webkit-linear-gradient(top, rgba(51,51,51,0.9), rgba(51,51,51,0.4));
    background-image:
      linear-gradient(to bottom, rgba(51,51,51,0.9), rgba(51,51,51,0.4));
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  h1 {
    width: 960px;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Noto Serif';
    line-height: 1.55;
    font-weight: 700;
    z-index: 1;
    margin-top: 0;
    @media screen and (max-width: 960px) {
      font-size: 28px;
      width: 90%;
    }
    @media screen and (max-width: 640px) {
      font-size: 26px;
    }
    @media screen and (max-width: 480px) {
      font-size: 23px;
    }
  }
  &__description {
    width: 890px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 400;
    z-index: 1;
    @media screen and (max-width: 960px) {
      font-size: 18px;
      width: 90%;
    }
    @media screen and (max-width: 640px) {
      font-size: 16px;
    }
  }
}
