

.additionally {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 90px 0;
  font-family: 'Open Sans';
  color: #333333;
  width: 1366px;
  margin: 0 auto;
  @media screen and (max-width: 1366px) {
    width: 100%;
  }
  @media screen and (max-width: 1200px) {
    width: 90%;
  }
  @media screen and (max-width: 480px) {
    padding: 45px 0;
  }

  &__title {
    font-family: 'Noto Serif',serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.23;
    margin-bottom: 30px;
    @media screen and (max-width: 640px) {
      font-size: 30px;
    }
    @media screen and (max-width: 480px) {
      font-size: 25px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 105px;
    white-space: pre-wrap;

    @media screen and (max-width: 1200px) {
      font-size: 22px;
    }
    @media screen and (max-width: 640px) {
      font-size: 20px;
      line-height: 1.4;
      white-space: normal;
    }
  }
  &__wrapper {
    display: flex;
    @media screen and (max-width: 1200px) {
      width: 90%;
    }
    @media screen and (max-width: 960px) {
      flex-direction: column;
      align-items: center;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 40px;
      width: 312px;
      @media screen and (max-width: 1200px) {
        padding: 0 10px;
        width: 300px;
      }
      @media screen and (max-width: 960px) {
        padding: 10px 0;
      }
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
      img {
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
      }
      &__title {
        font-family: 'Noto Serif',serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 24px;
        @media screen and (max-width: 1200px) {
          font-size: 22px;
        }
        @media screen and (max-width: 640px) {
          font-size: 20px;
        }
      }
      &__text {
        font-size: 18px;
        font-family: 'Open Sans';
        line-height: 1.55;
        font-weight: 300;
        @media screen and (max-width: 620px) {
          font-size: 16px;
        }
      }
    }
  }
  &__second_text {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 105px;
    white-space: pre-wrap;
    @media screen and (max-width: 620px) {
      font-size: 20px;
      line-height: 1.4;
      white-space: normal;
    }
  }
}
