.instagram_block {
  display: flex;
  justify-content: center;
  padding: 90px 0;
  white-space: pre-wrap;
  font-size: 28px;
  font-family: 'Noto Serif',serif;
  font-weight: 600;
  color: #333333;
  line-height: 1.35;
  text-align: center;

  @media screen and (max-width: 480px) {
    padding: 45px 0;
    font-size: 25px;
  }

  a {
    display: contents;
    font-size: 28px;
    font-family: 'Noto Serif',serif;
    font-weight: 600;
    color: #f00c1a;
    line-height: 1.35;
    text-decoration: underline #f00c1a;
    padding-left: 16px;
    transition: .3s;
    @media screen and (max-width: 480px) {
      font-size: 25px;
    }

    &:hover {
      color: #333333;
      transition: .3s;
    }
  }
}