:global body,
:global html,
:global #__next {
  width: 100%;
  height: 100%;
  font-family: 'Noto Serif';
  font-size: 14px;
  line-height: 28px;
  margin: 0;
}

:global .lazy {
  background-image: none;
  background-color: #F1F1FA;
}

:global img {
  opacity: 1;
  transition: opacity 0.3s;
}
  
:global img[data-src] {
  opacity: 0;
  }

:global a {
  text-decoration: none;
}

:global #__next {
  display: flex;
  flex-direction: column;
}

:global .swiper-container-horizontal {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  overflow:hidden;
  list-style:none;
  padding:0;
  z-index:1;
  width: 100%;
  height: 100%;
}

:global .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 90%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  @media screen and (max-width: 768px) {
    height: 85%;
  }
}

:global .swiper-pagination-bullet {
  transition: .3s;
  &:hover {
    opacity: 1;
    transition: .3s;
  }
}

:global .swiper-pagination-bullet-active {
  background: #000;
}

.container {
  width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;

  .header {
    height: 120px;
    font-family: 'Open Sans';
    @media screen and (max-width: 960px) {
      height: 256px;
      padding-bottom: 24px;
    }
  
    @media screen and (max-width: 480px) {
      height: 240px;
    }
  }

  .children {
    flex: 1 0 auto;
  }

  .footer {
    flex: 0 0 auto;
    background-color: #333333;
    height: 284px;
    @media screen and (max-width: 1200px) {
      height: 249px;
    }
    @media screen and (max-width: 960px) {
      height: 406px;
    }
    @media screen and (max-width: 640px) {
      height: 382px;
    }
  }
}